.container {
  width: 100%;
  height: auto;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper {
  width: 100%;
  height: fit-content;
}
.swiper-slide img {
  width: 100%;
}
split {
  width: 50%;
  height: 50%;
  float: left;
}
#split1 {
  background: #fff;
}

#split2 {
  background: #fff;
}

#split3 {
  background: #fff;
}

#split4 {
  background: #fff;
}